html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

@font-face {
    font-family: plungepool;
    src: url(Plungepool-Regular.ttf);
}

body {
    background-image: url("bknd.png");
    background-size: cover;
    background-position-y: bottom;
    background-position: center;
    background-repeat: repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: plungepool;
}

h1 {
    font-size: 4em;
    background-color: rgb(0, 48, 40);
    padding: 10px 10px 2px 10px;
    text-align: center;
    margin: 16px;
}

p {
    font-size: 2em;
    margin: 16px;
    background-color: rgb(0, 48, 40);
    padding: 15px;
    overflow-wrap: normal;
    text-align: center;
}

#credit {
    font-size: .5em;
    text-decoration: none;
    bottom: 2em;
    background-color: transparent;
}

#credit:hover {
    color: white;
}

a {
    text-decoration: underline;
    color: white
}

#download {
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0;
    border: 1px solid white;
    margin: .5em;
    text-align: center
}

#download:hover {
    background-color: rgb(0, 48, 40);
    color: white;
}